{% extends "_base.html" %}

{% block conteudo %}
Página de compras 


<h3>Adicionar Item </h3>
<form action="compras_adc.php" method="post">
    <input type="text" name="item" id="" placeholder="Escreva o nome do item">
    <input type="submit" value="adicionar">
</form>

<h3>Adicionar Minha Lista de Compras</h3>
<ul>
    {% for compra in compras %}
    <br>
    <li> {{ compra.item  }} 
            <br> 
        <a href="compras_edi.php?id={{compra.id}}" > 🖊️ Editar <a/>
            <br>
       <a href="compras_rmv.php?id={{ compra.id }}"> ❌  Deletar <a/>
    </li>
 {% endfor %}
   </ul>
{% endblock %}

  