<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="useradc.php" method="POST"> 
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Novo Nome:</label>
    <input name="nome" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
   
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Nova Senha:</label>
    <input name="senha" type="password" class="form-control" id="exampleInputPassword1">
  </div>

  <button type="submit" class="btn btn-primary">Criar usuário</button>
</form>


</body>
</html>